{{ .Project }}:
  image: rancher/lb-service-haproxy:v0.6.4
  ports:
    - 8000:8000/tcp
  labels:
    io.rancher.container.agent.role: environmentAdmin
    io.rancher.container.create_agent: 'true'

{{ .Project }}-app:
  image: {{ .DockerRepo }}:{{ .Tag }}
  expose:
    - 8000
  environment:
    RANCHER_SERVICE_DISCOVERY: 'true'
    AUTH_API_TOKEN_SALT: ${auth_salt}
    HOST_PORT: 8000
  labels:
    io.rancher.container.pull_image: always
    io.rancher.container.hostname_override: container_name
