.catalog:
  name: {{ .Branch }}
  version: {{ .Tag }}
  description: My app
  questions:
    - variable: auth_salt
      label: API Token Salt
      type: password
      required: true

version: 2
services:
  {{ .Project }}:
    scale: 1
    start_on_create: true
    lb_config:
    port_rules:
      - priority: 1
        protocol: http
        service: {{ .Project }}-app
        source_port: 8000
        target_port: 8000
    health_check:
      port: 42
      interval: 10000
      strategy: none
      unhealthy_threshold: 2
      healthy_threshold: 2
      response_timeout: 2000

  {{ .Project }}-app:
    scale: 1
    start_on_create: true
    health_check:
      port: 8000
      interval: 10000
      unhealthy_threshold: 2
      strategy: recreate
      request_line: 'GET /node/api/status HTTP/1.1'
      healthy_threshold: 2
      response_timeout: 2000    
